<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>脚本信息</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    {%template "common/header.html" .%}
    {%template "common/sider.html" .%}
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>脚本列表</legend>
      </fieldset>
      <!-- 搜索框区域 -->
      <div class="table_query" style="margin-left: 10px;">
        机构名称:
        <div class="layui-inline">
          <input class="layui-input" name="hospitalName" id="hospitalName" autocomplete="off">
        </div>&nbsp;&nbsp;
        脚本名称:
        <div class="layui-inline">
          <input class="layui-input" name="scriptlName" id="scriptlName" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <button class="layui-btn layui-btn-warm" onclick="openAdd()">新增</button>
      </div>
      <!-- table区域 -->
      <table class="layui-hide" id="t_script" lay-filter="t_script"></table>
      <script type="text/html" id="barArea">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {{# if (d.status=='U'){ }}
        <a class="layui-btn layui-bg-blue layui-btn-xs" lay-event="download">下载脚本</a>
        {{# } }}
      </script>

    </div>
    {%template "common/footer.html" .%}
  </div>
  <script src="/static/layui/layui.js"></script>
  <script>
    layui.use(['table', 'laytpl'], function () {
      var table = layui.table
        , form = layui.form
        , laytpl = layui.laytpl
      // laytpl.config({
      //   open: '<%',
      //   close: '%>'
      // });
      table.render({
        id: 'scriptTable',
        method: 'post',
        elem: '#t_script',
        url: '/web/script/list',
        cellMinWidth: 80, //全局定义常规单元格的最小宽度
        page: {
          layout: ['limit', 'count', 'prev', 'page', 'next'], //自定义分页布局
          curr: 1, //设定初始在第 1 页
          groups: 1//只显示 1 个连续页码
        },
        cols: [[ //标题栏
          { field: 'hospitalName', title: '机构名称', sort: true }
          , { field: 'dataType', title: '数据类型' }
          , { field: 'description', title: '脚本描述' }
          , { field: 'scriptName', title: '脚本名称' }
          , { field: 'apiIp', title: 'IP' }
          , { field: 'apiPort', title: '端口' }
          , {
            field: 'status', title: '状态', templet: function (d) {
              if (d.status == 'U') {
                return '<span class="layui-badge layui-bg-blue">普通脚本</span>';
              } else if (d.status == "P") {
                return '<span class="layui-badge layui-bg-cyan">公共脚本</span>';
              } else {
                return '<span class="layui-badge">锁定</span>';
              }
            }
          }
          , { field: 'operate', title: '操作', minWidth:"300",toolbar: '#barArea' }
        ]]
      });

      var $ = layui.$, active = {
        reload: function () {
          //执行重载
          table.reload('scriptTable', {
            page: {
              curr: 1 //重新从第 1 页开始
            }
            , where: {
              hospitalName: $('#hospitalName').val(),
              scriptName: $('#scriptlName').val()
            }
          }, 'data');
        }
      };

      $('.table_query .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });

      table.on('tool(t_script)', function (obj) {
        var data = obj.data;
        if (obj.event === 'del') {
          layer.confirm('确定要删除吗？', function (index) {
            $.ajax({
              url: "/web/script/delete",
              async: false,
              type: "POST",
              data: { "infoPk": data.infoPk },
              success: function (result) {
                if (result.code == '0') {
                  layer.msg("删除成功");
                  obj.del();
                  layer.close(index);
                } else {
                  layer.msg("删除失败");
                }
              }
            });
          });
        } else if (obj.event === 'edit') {
          openAdd(data.infoPk)
        }
      });
    });

    function openAdd(infoPk) {
      layer.open({
        type: 2,
        title: "编辑脚本信息",
        area: ['500px', '470px'],
        content: "/web/script/add?infoPk=" + infoPk
      });
    }
  </script>
</body>

</html>