<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>机构脚本</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body>
    <form class="layui-form" action="" lay-filter="fm">
        <input type="hidden" name="infoPk" value="{%.scriptInfo.InfoPk%}">
        <input type="hidden" name="hospitalName" id="hospitalName" value="{%.scriptInfo.HospitalName%}">
        <input type="hidden" name="status" id="status" value="{%.scriptInfo.Status%}">
        <div class="layui-form-item">
            <label class="layui-form-label">选择机构</label>
            <div class="layui-input-block">
                <select name="hospitalFk" id="hospitalFk" lay-verify="required" lay-filter="fm_hospital">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公共方法</label>
            <div class="layui-input-block">
                <select id="publicMethod" lay-filter="fm_public">
                    <option value="">--若是自定义则不选择该项--</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据类型</label>
            <div class="layui-input-block">
                <select name="dataType" lay-verify="required" id="dataType" value="{%.scriptInfo.DataType%}">
                    <option value="">--请选择--</option>
                    <option value="REPORT" {%if eq .scriptInfo.DataType `REPORT`%}selected{%end%}>检查报告</option>
                    <option value="CHECK" {%if eq .scriptInfo.DataType `CHECK`%}selected{%end%}>检查信息</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">脚本名称</label>
            <div class="layui-input-block">
                <input type="text" name="scriptName" id="scriptName" lay-verify="required|scriptName" autocomplete="off"
                    class="layui-input" value="{%.scriptInfo.ScriptName%}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">脚本描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" id="description" lay-verify="required" autocomplete="off"
                    class="layui-input" value="{%.scriptInfo.Description%}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">IP</label>
            <div class="layui-input-block">
                <input type="text" name="apiIp" lay-verify="ip" autocomplete="off" class="layui-input"
                    value="{%.scriptInfo.ApiIp%}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PORT</label>
            <div class="layui-input-block">
                <input type="text" name="apiPort" lay-verify="number" autocomplete="off" class="layui-input"
                    value="{%.scriptInfo.ApiPort%}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="btn_submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layer', 'element'], function () {
            var form = layui.form;
            var layer = layui.layer;
            var element = layui.element;
            var $ = layui.$;
            var status = $("#status").val();
            if(status == "P"){
                changeScriptInfoStyle("hide");
            }
            //加载hospital的select内容
            $.ajax({
                url: '/web/script/hospitalList',
                type: "GET",
                async: false,
                success: function (result) {
                    if (result) {
                        for (i = 0; i < result.length; i++) {
                            var option = "<option value='" + result[i].hospitalPk + "'";
                            if (result[i].hospitalPk == "{%.scriptInfo.HospitalFk%}") {
                                option += "selected";
                            }
                            option = option + ">" + result[i].hospitalName + "</option>";
                            $("#hospitalFk").append(option);
                        }
                    }
                }
            });
            //加载公共方法下拉框
            $.ajax({
                url: '/web/script/methodlList',
                type: "GET",
                async: false,
                success: function (result) {
                    if (result) {
                        // JSON.stringify(result[i])
                        for (i = 0; i < result.length; i++) {
                            var option = "<option value='" + result[i].dataType + "&" + result[i].scriptName + "'>" + result[i].methodName + "</option>";
                            $("#publicMethod").append(option);
                        }
                    }
                }
            });
            form.render('select');
            form.verify({
                scriptName: [
                    /[a-zA-Z0-9_]{2,20}.lua$/
                    , "脚本名称不能含特殊字符且只能以.lua结尾"
                ],
                ip: [
                    /(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d).(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d).(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d).(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d)/
                    , "ip格式不正确"
                ]
            });

            form.on('select(fm_hospital)', function (data) {
                var hospitalName = data.elem[data.elem.selectedIndex].text
                $("#hospitalName").val(hospitalName);
            });

            form.on('select(fm_public)', function (data) {
                if (data.value) {
                    $("#status").val("P");
                    var methodName = data.elem[data.elem.selectedIndex].text;
                    var methodType = data.value.split("&")[0];
                    var scriptName = data.value.split("&")[1];
                    $("#dataType").val(methodType);
                    $("#scriptName").val(scriptName);
                    $("#description").val(methodName);
                    changeScriptInfoStyle("hide");
                } else {
                    $("#status").val("U");
                    $("#dataType").val("");
                    $("#scriptName").val("");
                    $("#description").val("");
                    changeScriptInfoStyle("show");
                }
                form.render('select');
            });

            form.on('submit(btn_submit)', function (data) {
                //var hospitalName = $("#hospitalFk").find("option:selected").text();
                $.ajax({
                    url: '/web/script/save',
                    async: false,
                    type: "POST",
                    data: data.field,
                    success: function (result) {
                        if (result.code == 0) {
                            var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                            parent.layer.close(index);
                            parent.layer.msg(result.msg);
                            window.parent.location.reload();
                        } else {
                            layer.msg(result.msg)
                        }
                    }
                });
                return false;//禁止跳转，否则会提交两次，且页面会刷新
            });

            function changeScriptInfoStyle(type) {
            if (type == "show") {
                $("#dataType").removeAttr("disabled");
                $("#scriptName").removeClass("layui-disabled");
                $("#scriptName").attr("readonly", false);
                $("#description").removeClass("layui-disabled");
                $("#description").attr("readonly", false);
            } else if(type == "hide"){
                $("#dataType").attr("disabled", "disabled");
                $("#scriptName").addClass("layui-disabled");
                $("#scriptName").attr("readonly", true);
                $("#description").addClass("layui-disabled");
                $("#description").attr("readonly", true);
            }
        }
        });
    </script>
</body>

</html>